.ProductCard {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.ProductCard>div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.ProductCard img {
  width: 100%;
  object-fit: contain;
  height: 200px;
}

.AddItemButton {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  cursor: pointer; 
}
.Button {
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

@media only screen and (min-width:740px) and (max-width:1200px) {
  
}
@media only screen and (min-width:481px) and (max-width:740px) {
  
}
@media only screen and (min-width:100px) and (max-width:480px) {
  
}